// TODO: colors
$bg_gray_500: #121212;
$bg_gray_100: #efefef;

$bg_gray_light: #fffaec;
$bg_white_light: #f8f8f8;

$color_primary: #181c2e;
$color_secondary: #eaeaec;

$gray_200: #ddd;
$black: #000;
$white: #fff;

$link_hover: #16404d;

$blue_950: #172554;
$blue_500: #6366f1;
$blue_300: #93c5fd;

$red_950: #450a0a;
$red_600: #ef4444;
$red_500: #dc2626;
$red_300: #fca5a5;

$sky_950: #082f49;
$sky_600: #0284c7;
$sky_500: #0ea5e9;
$sky_300: #7dd3fc;

$orange_950: #431407;
$orange_600: #d97706;
$orange_500: #f97316;
$orange_300: #fdba74;

$zinc_800: #27272a;

$slate_900: #1e293b;

$emerald_950: #022c22;
$emerald_600: #059669;
$emerald_500: #10b981;
$emerald_300: #6ee7b7;

$teal_950: #042f2e;
$teal_600: #0d9488;
$teal_400: #2dd4bf;

$rounded_form: 20px;
$rounded_top_form: 14px;

$font-poppins: "Poppins", serif;
