@use "../../styles/main";

@keyframes animatedLoading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.backDropLoading {
  position: fixed;
  inset: 0;
  background-color: rgba(160, 160, 160, 0.521);
  backdrop-filter: blur(3px);
  z-index: 1;

  .backDropContainer {
    background-color: main.$bg_gray_light;
    border: 2px solid main.$gray_200;
    border-radius: main.$rounded_form;
    padding: 0.5em 2em;

    width: fit-content;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;

    position: fixed;
    top: 45%;
    left: 0;
    right: 0;
    margin: 0 auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);

    span {
      font-size: 2em;
      font-weight: 500;
    }

    svg {
      animation: animatedLoading 1s linear infinite;
    }
  }
}
